.login-page-container {
  display: flex;
  flex: 0 0 250px;
  justify-self: center;
}

.login-error {
  color: red;
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 14px;
  font-weight: bold;
}

.mat-mdc-card-header {
  margin-bottom: 16px;
}

.mat-mdc-form-field {
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
}
