/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: darkgray;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 16px;
}
